.certificates{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.certificates h4{
  width: 100%;
  text-align: center;
}
